@import "./sass/base/normalize";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.nav {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  background: #B2B2B2;
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 37px;
  height: 100px;
  padding-bottom: 14px;
  padding-top: 17px;
  width: 144px;
}

.cart img {
  margin-right: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  font-family: Lora;
  margin-right: 31px;
  font-size: 32px;
  color: white;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 25px;
}

.nav a:last-child {
  margin-right: 0;
}

.main_pages {
  width: 1024px;
}
.mainImg {
  background-image: url("./assets/mainPhoto.png");
  height: 512px;
}
.main_pages p {
  padding-left: 481px;
  padding-top: 172px;
  font-family: Lora;
  font-weight: 600;
  font-size: 40px;
  color: #B2B2B2;
}

.buttons a {
  height: 100px;
}

.catalog {
  width: 1024px;
  display: flex;
  height: 600px;
  background: #B2B2B2;
}

.card {
  background: #F3F4EF;
  border: 1px gray solid;
  border-radius: 17px;
  margin: 50px 64px 53px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:last-child {
  margin: 50px 0px 53px 0px;
}
.card_img {
  border-radius: 17px;
  margin: 42px 62px 23px 63px;
}

.card h3 {
  font-family: Lora;
  font-weight: 600;
  font-size: 40px;
  color: #B2B2B2;
}

.card h5 {
  font-family: Lora;
  font-weight: 400;
  font-size: 32px;
  color: #B2B2B2;
}

.footer {
  width: 1024px;
  padding-top: 64px;
  height: 302px;
  background: #F3F4EF;
  display: flex;
  justify-content: space-between;
}

.Logo {
  margin-left: 83px;
}

.Logo h3{
  font-family: Lora;
  font-weight: 400;
  font-size: 32px;
  color: #B2B2B2;
}

.Info {
  margin-right: 49px;
}

.Info h3,a {
  color: #B2B2B2;
  font-family: Lora;
  font-weight: 400;
  font-size: 32px;
  text-align: right;
}

.email {
  display: flex;
  flex-direction: row-reverse;
  color: #B2B2B2;
  text-align: right;
}

.Links {
  display: flex;
  flex-direction: row-reverse;
}

